.trigger {
    width: 200px;
    display: flex;
    justify-content: center;
    align-self: center;

    border: none;
    border-radius: 8px;

    color: #f0f0f0;
    background-color: #94AF9F;
    cursor: pointer;
}

.trigger:hover{
    background-color: #6f8377;
}

.trigger[data-state="open"] svg {
    transition: transform 300ms;
    transform: rotate(180deg);
  }
.trigger[data-state="closed"] svg{
    transition: transform 300ms;
  }

.content {
    border-radius: 8px;
    padding: 20px;
    width: 260px;

    background-color: white;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;

    display: flex;
    flex-direction: column;
}

.arrow {
    fill: white;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
}

.closeButton {
    width: 25px;
    height: 25px;

    background-color: transparent;
    border: none;
    border-radius: 100%;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: 5px;
    right: 5px;
}

.addButton {
    width: 25px;
    height: 25px;

    display:flex;
    align-items: center;
    justify-items: center;

    border: none;
    background-color: transparent;

    position: absolute;
    bottom: 5px;
    right: 6px;
}

.addButton svg,
.closeButton svg {
    color: #94AF9F
}

.addButton svg:hover,
.closeButton svg:hover{
    color: #6f8377;
    transition: transform 300ms;
    transform: rotate(90deg);
}


